.mdl-layout__header-row {
    padding-right: 20px;

    .switch,
    .command {
        opacity: 0.75;
        margin: 8px;

        &:hover {
            opacity: 1;
        }
    }

    .separator {
        border-right: 1px solid rgba(255, 255, 255, 0.7);
        height: 29px;
        margin: 0 22px;
    }

    .subtitle {
        flex-shrink: 1;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
