name: Pytest

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.9
      uses: actions/setup-python@v2.1.4
      with:
        python-version: 3.9
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        if [ -f ./requirements/development.txt ]; then pip install -r ./requirements/development.txt; fi
    - name: Test with pytest
      run: |
        pytest --cov
    - name: Codecov
      uses: codecov/codecov-action@v1.1.1
